.group-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	h1 {
		text-align: center;
		margin-bottom: 8px;
	}
	.separate {
		text-align: center;
		width: 10px;
		height: 10px;
		position: relative;
		border-radius: 50%;
		border: 1px solid #535bf2;
		&::after {
			content: "";
			position: absolute;
			left: calc(100% + 4px);
			top: 50%;
			width: 80px;
			height: 1px;
			background-color: #d3d3d3;
			transform: translateY(-50%);
		}
		&::before {
			content: "";
			position: absolute;
			right: calc(100% + 4px);
			top: 50%;
			width: 80px;
			height: 1px;
			background-color: #d3d3d3;
			transform: translateY(-50%);
		}
	}
	.description {
		text-align: center;
		margin: 8px 0;
	}
	.categories {
		display: flex;
		align-items: center;
		justify-content: center;
		.category {
			margin: 0 8px;
			cursor: pointer;
			font-weight: 500;
			font-size: 16px;
			&.active {
				color: #535bf2;
			}
		}
	}
	.products {
		padding: 60px 160px;
	}
}
.next-arrow,
.prev-arrow {
	position: absolute;
	top: 35%;
	z-index: 1;
	cursor: pointer;
	font-size: 40px;
	display: flex;
	align-items: center;
}

.prev-arrow {
	left: 0;
}

.next-arrow {
	right: 0;
}
